h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: unset;
    font-weight: inherit;
}

p  {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}

body {
    color: white;
    margin: 2rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    animation: changeColor ease;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

@keyframes changeColor {
    0% {
        background-color: #0016b7;
    }

    33% {
        background-color: #005940;
    }

    66% {
        background-color: #772c20;
    }

    100% {
        background-color: #0016b7;
    }
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#email {
    border-bottom: 0.15em transparent solid;
}

#email:hover{
    border-bottom: 0.15em white solid;
}

/* Set custom text selection */
::selection {
    background-color: rgba(255,255,255,0.99); /* WebKit/Blink Browsers */
    color: black;
}
::-moz-selection {
    background-color: rgba(255,255,255,0.99); /* Gecko Browsers */
    color: black;
}

@media (min-width: 320px) and (max-width: 999px){
    body {
        font-size: 3rem;
        margin: 3rem;
    }
}

@media (min-height: 100px) and (max-height: 500px) {
    body {
        font-size: 1rem;
        margin: 1rem;
    }
}
